<form action="/dogs/<%=dog['id']%>" method='post' enctype="multipart/form-data">
<input type="hidden" name='_method' value='put'>

    <h1>Edit Puppy Details</h1>

    <section class='dog_details'>

        <label>Name</label>
        <input type="text" placeholder="<%=dog['name']%>" name="name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>

        <label>Image</label>
        <input type="file" name='image_url' required>

        <label>Age</label>
        <input type="number" placeholder="<%=dog['age']%>" name='age' required>

        <label>Location</label>
        <input type="text" placeholder="<%=dog['location']%>" name='location' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>

        <label>Likes</label>
        <input type="text" placeholder="<%=dog['likes']%>" name='likes' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>

        <label>Dislikes</label>
        <input type="text" placeholder="<%=dog['dislikes']%>" name='dislikes' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>

        <label>Bio</label>
        <input type="text" placeholder="<%=dog['bio']%>" maxlength="50"name='bio' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>

    </section>

    <button>Submit Changes</button>

</form>